*{color:black;}  

img{width:300px;
        border-radius: 100%;
        padding:10px; 
     cursor:pointer; 
transition: 0.5s;
    text-align: center;
}

  h3{font-family: 'Indie Flower', cursive;}
 
  i{color:saddlebrown; padding: 5px; margin:6px;
        }
  body{
      // background-color:bisque; 
      margin:0; padding:0;
      background: url(hd.jpg);
background-size:cover;}
        
  h1{font-family: 'Charm', cursive;}
  
  p{font-family: 'Gabriela', serif;}

  .ad{font-family: 'Charm', cursive;
        font-size:150%; font-weight: bold;}

.box{width:350px;
    background:#FFFFFF;
margin:auto; margin-top: 3%;
padding: 30px; height:auto;
    text-align: center;
    }
.box img:hover{transform:scale(0.9);}